{
	"DB_ENDPOINT": {
        "encode": false,
        "value": 3
    },
	"DB_VERSION": {
        "encode": false,
        "value": 3
    },
	"DV_CONFIG": {
		"encode": true,
		"value": {
			"apiKey": "key",
			"authDomain": "dom",
			"databaseURL": "db",
			"projectId": "p",
			"storageBucket": "storage",
			"messagingSenderId": "id",
			"appId": "id",
			"measurementId": "id"
		}
	}
}