.animatedStack {
	position: relative;
	width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

    & > .label {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 25px 0px;
        backdrop-filter: blur(10px);
        background-color: var(--background9);
        border-radius: var(--container-radius);
        translate: -50% -50%;
        z-index: 1;
    }
    
    & > .animatedStackRing {
        position: absolute;

        & >  .animatedStackItem { 
            position: absolute;
            top: 50%;
            text-align: center;
            translate: 0% 0% !important;
            transition-duration: 3s;
            transition-timing-function: ease-in-out;
     
            .animatedStackItemContentWrapper {
                transform-style: preserve-3d;
            }
        }
    }
}
