.buttonWrapper {
    position: relative; 
    overflow: hidden;

    --initial-icon: "Icon";
    --target-icon: "Icon";
    --icon-size: 20px;

    & > :is(a, button).btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: var(--container-radius);
        cursor: pointer;
        text-decoration: none !important;
        overflow: hidden;

        &:is(:disabled,[aria-disabled="true"]) {
            background-color: var(--muted) !important;
            background-image: none !important;
            pointer-events: none !important;
            user-select: none !important;
            filter: grayscale(100%);
        }

        &::before, &::after {
            font-size: calc(var(--icon-size) - 5px);
            text-align: center;
            transition: transform .3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &::before {
            content: var(--initial-icon);
            position: relative;
            transform: translateY(0%);
        }

        &::after {
            content: var(--target-icon);
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(200%);
        }

        &:not(.singleIcon):hover {
            &::before {
                transform: translateY(-200%); 
            }

            &::after {
                transform: translateY(-50%);
            }
        }
    }

    & a {
        position: relative;
        &::after {
            content: "";
        }
    }

    .iconWrapper {
        width: 25px !important;
    }

    .btn-big {
        padding: 20px 30px;
        font-size: large;
    }

    @keyframes ToggleIcon {
        0% {
            transform: translateY(0%);
        }
    
        50% {
            transform: translateY(100%);
        }
    
        100% {
            content: var(--target-icon);
            transform: translateY(0%);
        }
    }
}
