@import "../constants/const.css";

@font-face {
	font-family: Lato;
	font-weight: normal;
	font-style: normal;
	src: url("../assets/fonts/Lato/Lato-Regular.ttf"), format("ttf");
}

@font-face {
	font-family: Lato;
	font-weight: bold;
	font-style: normal;
	src: url("../assets/fonts/Lato/Lato-Bold.ttf"), format("ttf");
}


@font-face {
	font-family: Lato;
	font-weight: normal;
	font-style: italic;
	src: url("../assets/fonts/Lato/Lato-Italic.ttf"), format("ttf");
}



@font-face {
	font-family: Lato;
	font-weight: bold;
	font-style: italic;
	src: url("../assets/fonts/Lato/Lato-BoldItalic.ttf"), format("ttf");
}
/* TODO: Clean */
:root {
	--font: Lato;
	--container-radius: 8px;
	--transition: 0.2s ease-in-out;

	--success: rgb(32, 127, 29);
	--success-foreground: hsla(245, 4.7%, 97.35%, 1);
	--destructive: hsla(0, 62.8%, 30.6%, 1);
	--destructive-foreground: hsla(245, 4.7%, 97.35%, 1);

	/* Generated theme using scripts/theme_gen.js */

	    --background: hsl(29.88235294117647, 100%, 0%);
    --background-alpha-50: hsla(29.88235294117647, 100%, 0%, 0.5);
    --foreground: hsl(0, 0%, 100%);
    --primary: hsl(29.88235294117647, 100%, 50%);
    --primary-alpha-50: hsla(29.88235294117647, 100%, 50%, 0.5);
    --primary-lighter: hsl(29.88235294117647, 100%, 58%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(29.88235294117647, 100%, 5%);
    --secondary-foreground: hsl(0, 0%, 100%);
    --card: hsl(29.88235294117647, 100%, 10%);
    --card-alpha-70: hsla(29.88235294117647, 100%, 10%, 0.7);
    --card-foreground: hsl(0, 0%, 100%);
    --muted: hsl(29.88235294117647, 100%, 30%);
    --muted-foreground: hsl(0, 0%, 100%);
    --border: hsl(29.88235294117647, 100%, 20%);
    --input: hsl(29.88235294117647, 100%, 10%);
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);
    --ring: var(--primary);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	font-family: Lato, Arial, Helvetica, sans-serif;
	scrollbar-color: var(--primary) transparent;

	&::-webkit-scrollbar-track {
		background: transparent !important;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--primary);
	}

	&::after,
	&::before {
		font-family: "Font Awesome 7 Free", "Font Awesome 7 Regular", "Font Awesome 7 Brands", "Font Awesome 7 Free",
			"Font Awesome 7 Regular", "Font Awesome 7 Brands" !important;
		font-weight: 900;
		font-size: 1.5rem;
	}
}

body {
	&.light {
		background-color: var(--secondary);
	}

	&.dark {
		background-color: var(--background);
		color: var(--foreground);

		hr {
			border-color: var(--border);
			opacity: 0.4;
		}

		a {
			color: var(--primary);
			font-weight: bold;
			text-decoration: none;

			&:hover {
				color: var(--primary-lighter);
				text-decoration: underline;
			}
		}

		button.btn,
		a.btn {
			--button-foreground: var(--primary-foreground);
			--button-hover-foreground: var(--secondary-foreground);
			--button-active-foreground: var(--foreground);
			--button-hover-background: var(--secondary);

			color: var(--button-foreground);
			background-color: var(--primary);
			border-color: var(--primary);
			background-image: linear-gradient(
				180deg,
				var(--primary) 33.33%,
				var(--button-hover-background) 34% 66%,
				var(--background) 66.66%
			);

			&.btn-icn {
				color: var(--foreground);
				background: none !important;

				&::after {
					background-color: var(--background-alpha-50);
				}
			}

			&:hover {
				color: var(--button-hover-foreground);
			}
			&:active {
				color: var(--button-active-foreground);
				& > span {
					&::after {
						color: var(--button-active-foreground);
					}
				}
			}

			&:disabled,
			&[aria-disabled="true"] {
				color: var(--muted-foreground);
				background-color: var(--muted) !important;
				filter: grayscale(100%);
			}

			.error {
				--button-hover-background: var(--destructive);
			}

			.success {
				--button-hover-background: var(--success);
			}

			& > span {
				&::before {
					color: var(--button-foreground);
				}

				&::after {
					color: var(--button-hover-foreground);
				}
			}
		}

		input,
		textarea {
			background-color: var(--input);
			color: var(--foreground);
			border-color: var(--border);

			&:focus {
				outline: none;
				box-shadow: 0 0 0 3px var(--ring);
			}
		}

		details {
			& > summary {
				color: var(--primary-foreground);
			}

			&:hover::before,
			&[open]::before {
				background-color: var(--primary-lighter) !important;
			}

			&::before {
				background-color: var(--primary);
			}

			&::after {
				background-color: var(--accent);
			}
		}

		#app {
			& > main {
				& > section {
					&::after {
						color: var(--primary) !important;
					}
				}

				& > section .profileSideContent {
					background: conic-gradient(
						var(--background-alpha-50) 0deg,
						var(--background) 180deg,
						var(--background-alpha-50) 360deg
					);

					@media (width > $tablet-breakpoint) {
						background: conic-gradient(
							var(--background) 180deg,
							var(--background-alpha-50) 270deg,
							var(--background) 360deg
						);
					}
				}
			}

			& > footer {
				background-image: linear-gradient(to bottom, transparent, var(--background));
			}
		}

		.animatedStack {
			& > .label {
				background-color: var(--background-alpha-50);
			}
		}

		.card {
			background-color: var(--card);
			color: var(--card-foreground);
			border-color: var(--border);

			& header > h4 {
				color: var(--muted-foreground);
			}
		}

		.imageWrapper::after {
			/* pending image placeholder */
			background-color: var(--background);
		}

		.chip {
			background-color: var(--primary-alpha-50);
			color: var(--foreground);
		}

		.email {
			color: var(--foreground) !important;
			text-decoration-color: var(--primary) !important;

			& span:nth-child(2) {
				color: var(--primary-lighter);
			}
			& span:nth-child(3) {
				color: var(--primary-lighter);
			}
		}

		.titleWrapper {
			& > h2:nth-child(2) {
				& span {
					color: var(--primary);
				}
			}
		}
		.popup {
			background-color: var(--popover);
			color: var(--popover-foreground);
		}

		.closeArea {
			background-color: var(--popover);
		}

		.destructive {
			background-color: var(--destructive);
			color: var(--destructive-foreground);
		}

		.slide-checkbox {
			background-color: var(--input);

			&::after,
			&::before {
				background-color: var(--primary);
			}
		}

		.profilePhotoWrapper {
			background-color: var(--background);

			&::before {
				background: repeating-conic-gradient(transparent 0deg, transparent 50deg, var(--primary) 80deg, var(--primary) 90deg);
			}

			&::after {
				background-color: var(--background);
			}
		}

		.projectContainer {
			& > header {
				@media (width > $mobile-breakpoint) and (height > $mobile-breakpoint-vh) {
					& > .imageWrapper {
						&::before {
							background-color: var(--background);
						}
					}
				}
			}

			& > main {
				& > .card {
					background-color: var(--card-alpha-70) !important;
					@media (width <= $mobile-breakpoint) or (height <= $mobile-breakpoint-vh) {
						background-color: var(--background) !important;
					}
				}
			}
		}
	}
}
