@import "../../../constants/const.css";

.accordionWrapper {

    --label-size: 23px;
    --label-padding: 5px;
    --total-padding: calc(var(--label-padding) * 3);
    --label-height: calc(var(--label-size) + var(--total-padding));
    --max-accordion-height: 400px;

    height: var(--label-height);
    transition: height var(--transition);
    border-radius: var(--container-radius);
    max-height: 400px;

    &:has(> details[open]) {
        height: var(--max-accordion-height);
    }

	 & > details {
		--marker-size: calc(var(--label-size) / 2);
        max-height: var(----max-accordion-height);

        position: relative;
        margin: 5px 2.5px;
        height: var(--label-height);
        transition: height var(--transition);
        border-radius: var(--container-radius); 
        overflow: hidden; 

        &::before {
            height: var(--label-height);
            z-index: 1;
        }

        &::after {
            height: 0%;
            z-index: 0;
            opacity: 0;
        } 

        &::before, &::after {
            content: "";
            position: absolute;
            width: 100%;
            inset: 0;
            border-radius: var(--container-radius);
            transition: opacity var(--transition), height var(--transition), background-color var(--transition), border-radius var(--transition);
        }

		& > summary {
    max-height: var(--max-accordion-height);

            position: relative;
            z-index: 3;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: var(--label-padding);
            padding-left: calc(var(--marker-size) + 15px); 
            height: var(--label-height);
            font-size: calc(var(--label-size) / 1.5);
            font-weight: bold;
			cursor: pointer;

			&::marker {
				content: "";
			}

			&::before {
				content: "\f107";
				position: absolute;
				top: 50%;
				left: calc(var(--marker-size) / 2);
				size: var(--marker-size);
				font-size: var(--marker-size);
                translate: 50% -50%;
				transform: rotate(-90deg);
				transition: transform var(--transition);
			}

            & + article {
                position: relative;
                z-index: 2;
                max-height: calc(var(--max-accordion-height) - var(--label-height));
                padding: 10px 10px 10px 15px;
                overflow: auto;
            }
		}

		

		&[open] {
			height: 100%;
            padding-bottom: 2.5px;
            &::after {
                height: 100%;
                opacity: 1;
            }

            &::before {
                border-radius: var(--container-radius) var(--container-radius) 0 0 ;
            }

			& > summary {

				&::before {
					transform: rotate(0deg);
				}

                & + article {
                }
			}
		}
	}
}
