.buttonWrapper {
	position: relative;
	overflow: hidden;

	--initial-icon: "Icon";
	--target-icon: "Icon";
	--icon-size: 20px;

	& > button.btn,
	& > a.btn {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 15px;
		padding: 10px 15px;
        border: 2px solid;
		border-radius: var(--container-radius);
		text-decoration: none !important;
		cursor: pointer;
		overflow: hidden;
		transition: color var(--transition),
		 background-position var(--transition),
		 background-image var(--transition);

		/* Background animation */
		background-size: 200% 300%;
		background-repeat: no-repeat;
		background-position: 0px 0px;

		&:disabled,
		&[aria-disabled="true"] {
			pointer-events: none !important;
			user-select: none !important;
            background-image: none !important;
		}

        &:hover {
            background-position: 0px 50%;
        }

		&:active {
            background-position: 0px 99%;
		}

		& > span {
			position: relative;
			display: inline-block;
			size: var(--icon-size);

			&::before,
			&::after {
				font-size: calc(var(--icon-size) - 5px);
				text-align: center;
				transition: color var(--transition), transform var(--transition); 
			}

			&::before {
				content: var(--initial-icon);
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: translateY(0%);
			}

			&::after {
				content: var(--target-icon);
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% 0%;
				transform: translateY(200%);
			}
		}

		&:not(.singleIcon):hover > span {
			&::before {
				transform: translateY(-200%);
			}

			&::after {
				transform: translateY(-50%);
			}
		}
	}

	& a {
		position: relative;

		& > span {
			&::after {
				content: "";
			}
		}
	}

	.iconWrapper {
		width: 25px !important;
	}

	.btn-big {
		padding: 20px 30px;
		font-size: large;
	}

	@keyframes ToggleIcon {
		0% {
			transform: translateY(0%);
		}

		50% {
			transform: translateY(100%);
		}

		100% {
			transform: translateY(0%);
		}
	}
}
