.iconWrapper {
    position: relative;

    --icon-transition: .2s ease-in-out;

    & > * {
        transition: opacity var(--icon-transition), scale var(--icon-transition);
    }

    &.animatedInView {
        opacity: 0;
    }
    
    
    & > p {
        position: absolute;
        left: 50%;
        translate: -50% 0%;
        opacity: 0;
    }
    
    &:hover > p {
        opacity: 1;
    }
    
}