@import "../../../constants/const.css";

.imageWrapper {
    width: 100%;
    overflow: hidden;

    & > img {
        size: 100%;
        max-width: 1140px;
        max-height: 400px;
    }

    &.loaded::after {
        opacity: 0 !important;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        size: 100%;
        opacity: 1;
        transition: opacity var(--transition);
    }

    & > .image-spinner {
        position: absolute;
        top: 50%;
        right: 5%;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
        border: 1.5px solid var(--foreground-alpha-20);
        border-top: 1.5px solid var(--primary) !important;
        border-radius: 50%;
        animation: spin 1.5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
        z-index: var(--on-top-index);

        @media (max-width: $mobile-breakpoint) {
            right: 50%;
        }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}