@import "../../constants/const.css";

#app { 
	& > main { 
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		gap: 50px;
		margin: 0 auto;
		padding: 30px 10px 15px 10px;
		max-width: $max-width;

		& > section {
			position: relative;
			padding: 35px 0 30px 0;
			width: 100%;
			max-width: $max-width;
			height: auto;

			&:first-child {
				min-height: 100svh;
			}

			&::after {
				content: "\f063";
				position: absolute;
				left: 50%;
				top: 100%;
				translate: -50% 0%;
				
				    /* Scroll-based animation */
                animation: arrowScroll linear;
                animation-timeline: view();
                animation-range: entry 0% exit 100%;
				animation-fill-mode: both;
            
			}


			&:last-child::after {
				display: none;
			}

		}
	}

	& > footer {
		position: fixed;
		bottom: 0;
		z-index: var(--on-top-index);
		padding: 20px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: fit-content;

		pointer-events: none;
		user-select: none;

		& > * {
			pointer-events: all;
			user-select: auto;
		}

		.floatingButton {
			z-index: var(--on-top-index);
		}

		.goToTopTrigger {
			transition: opacity 0.5s ease-in-out, background 0.2s ease-in-out;
		}
	}
}

@keyframes arrowScroll {
    0% {
        transform: translateY(-50%);
        opacity: 0.1;
		scale: 0.8;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0.5;
		scale: 1;
    }
}