@import "../../../../constants/const.css";

#introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& .profileSideContent {
		position: relative;
		z-index: 1;
		display: flex;
		padding: 5px 10px;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 15px;
		border-radius: var(--container-radius);
	}

	& .socialMediaGrid {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	& .profilePhotoSection {
		position: relative;
		z-index: 0; 
		& > .animatedStack {
			opacity: 0.2;
		}
	}

	& .introAnimatedStack {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateY(-50%) scale(1.2);
	}

	& > section {
		/* fix side content overlapping anchor button */
		position: relative;
		z-index: 2;
	}

	@media (width >= $desktop-breakpoint) {
		& .profilePhotoSection > .animatedStack .animatedStackRing:nth-child(3) {
			display: block;
		}
	}

	@media (width > $tablet-breakpoint) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		& .profilePhotoSection {
			width: 49%;
			display: flex;
			justify-content: center;
		}

		& .profileSideContent {
			width: 49%;
			& .titleWrapper {
				width: 100%;
				justify-content: flex-start;
				align-items: flex-start;
			}
			& .socialMediaGrid {
				width: fit-content;
				gap: 15px;
			}
		}

		& > section {
			margin: 0 auto;
			& > .buttonWrapper {
				scale: 1.5;
			}
		}
	}
}
